@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

:root {
    --dark: #222831;
    --light: #EEEEEE;
    --menu-itens-transparent: #ffffff08;
    --primary-color: #F05454;
}

body {
	background-color: var(--light);
	padding: 0px;
	font-family: 'Nunito', sans-serif;
	margin: 0px;
}

.app {
    display: flex;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.body-wrapper {
	display: flex;
    flex: 1 1 auto;
    padding-left: 16px;
}

.body {
	display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col {
	display: flex;
    flex-direction: column;
	flex: 1 1 auto;
}

.table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}

.table tr:nth-child(even){background-color: #D9ECF2;}

.table tr:hover {background-color: #ddd;}

.table th {
	background-color: var(--dark);
	color: whitesmoke;
	padding: 8px;
	text-align: left;
}

.table td {
	padding: 8px;
}

/*
	Sidebar
*/
.sidebar {
    background-color: var(--dark);
    display: flex;
    flex: 0 1 auto;
}

.sidebar-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.sidebar-menu-wrapper {
    flex: 1 1 auto;
}

.sidebar-item {
    align-items: center;
    background-color: var(--menu-itens-transparent);
    border-radius: 4px;
    color: var(--light);
    cursor: pointer;
    display: flex;
    margin: 6px 8px;
	text-decoration: none;
}

.sidebar-item:hover {
    background-color: var(--light);
    color: var(--dark-sidebar);
}

.sidebar-menu-item {
    padding: 8px 16px;
}

.sidebar-button {
    padding: 8px 16px;
    white-space: nowrap;
}

.sidebar-extras-header {
    display: flex;
    border-bottom: 1px solid #0000002a;
}

.sidebar-welcome {
    align-items: center;
    color: var(--light);
    display: flex;
    flex: 1 1 auto;
}

.sidebar-extras-footer {
    border-top: 1px solid #0000002a;
}

/*
	
*/
.modal-wrapper {
	left: 0;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	
}

.modal-content {
	display: flex;
	flex: 1 1 auto;
	background-color: #00000070;
	justify-content: center;
	align-items: center;
}

.modal-header {
	border-bottom: 1px solid #00000030;
	padding: 8px;
}

.btn {
	border: none;
	cursor: pointer;
	padding: 8px 16px;
	text-decoration: none;
	text-align: center;
}

.btn-danger {
	background-color: var(--primary-color);
	color: whitesmoke;
}

.d-flex {
	display: flex;
}

.d-none {
	display: none;
}

.icon {
    padding: 0px 8px;
}

.mb-8 {
	margin-bottom: 8px;
}